*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    color: black;
    background-color: rgb(25, 22, 22);
}
 
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #121416;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px rgba(224, 215, 215, 0.16),
                      5px 5px 5px rgba(224, 215, 215, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
   
    box-shadow: inset -5px -5px 12px #100b0b,
                inset 5px   5px 12px rgba(0,0,0,.16);
    border: none;            
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}
button{
    height: 48px;
    width: 48px;
    background-color: #18191b;
    box-shadow: 0px 0px 5px black,
                   0px 0px 25px black;
    border: none;  
    color:#d81515;              
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
    
}
.btn{
    color:  #6dee0a;
}
button:hover{
    box-shadow: 0px 0px 5px #ecf0f3,
    0px 0px 5px #ecf0f3,0 0 10px #ecf0f3,
    0 0 20px #ecf0f3,0 0 30px #ecf0f3;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #141415;
    box-shadow: 0px 0px 5px #ffffff,
                   0px 0px 25px rgba(0,0,0,.16);
    color: #6dee0a;
}
.equal:hover{
    box-shadow: 0px 0px 5px #ecf0f3,
    0px 0px 5px #ecf0f3,0 0 10px #ecf0f3,
    0 0 20px #ecf0f3,0 0 30px #ecf0f3;
}